node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
README.md
.env
.env.*
.vscode
.idea
dist
build
coverage
.DS_Store
*.log
cypress/videos
cypress/screenshots
.firebase
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
emulator-data
android/app/build
ios/App/build
ios/App/Pods
*.xcuserstate
*.xcworkspace/xcuserdata