# Build and dist folders
dist/
build/
dev-dist/
docs-site/
capacitor-demo/

# Dependencies
node_modules/

# Config files
*.config.js
*.config.ts
vite.config.*.ts
cypress.config.ts

# Other
*.min.js
*.min.css
public/
coverage/
.turbo/
.next/
.cache/
tmp/
temp/